.form__button {
  background: #000;
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 1.22;
  padding: 18.49px;
  cursor: pointer;
  transition: background ease-out 0.3s;
}

.form__button:hover {
  background: rgba(0, 0, 0, 0.8);
}
