.popup__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 34px;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 524px) {
  .popup__container {
    width: 100%;
    gap: 67px;
    padding: 25px 22px;
  }
}
