.form {
  max-width: 358px;
  width: 358px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (max-width: 524px) {
  .form {
    width: 100%;
    max-width: none;
  }
}
