.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup_opened {
  display: flex;
}

.popup__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 34px;
  border-radius: 10px;
  position: relative;
}

.popup__close-button {
  position: absolute;
  top: -35px;
  right: -35px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
}

@media screen and (max-width: 524px) {
  .popup {
    padding-left: 19px;
    padding-right: 19px;
    box-sizing: border-box;
  }
  .popup__container {
    width: 100%;
    gap: 67px;
    padding: 25px 22px;
  }

  .popup__close-button {
    top: -35px;
    right: 10px;
  }
  .popup__close-icon {
    width: 21px;
    height: 21px;
  }
}
