.profile {
  display: flex;
  color: #fff;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin-bottom: 46px;
}

.profile__info {
  flex-grow: 1;
}

.profile__image {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
}

.profile__person {
  display: flex;
  gap: 18px;
  align-items: flex-end;
}

.profile__name {
  padding: 0;
  margin: 0;
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  /*figure out how to not include the bottom of "q" in the margin calculation*/
}

.profile__title {
  padding: 0;
  margin: 16px 0 0;
}

.profile__edit-button {
  padding: 7px;
  border: #fff solid 1px;
  box-sizing: border-box;
  max-width: 24px;
  max-height: 24px;
  margin-bottom: 8px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  padding: 14px 64px;
  border: solid 2px #fff;
  border-radius: 2px;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-icon {
  max-width: 22px;
  max-height: 22px;
}

@media screen and (max-width: 765px) {
  .profile__name {
    font-size: 28px;
    line-height: 1;
  }
  .profile__edit-button {
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .profile__add-button {
    width: 100%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin-bottom: 36px;
  }
  .profile__name {
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__edit-button {
    padding: 5px;
    max-width: 20px;
    max-height: 20px;
  }
  .profile__title {
    font-size: 14px;
    line-height: 1.21;
  }

  .profile__edit-button {
    padding: 5px;
    max-width: 17px;
    max-height: 17px;
  }
}
