.profile__add-button {
  background-color: transparent;
  background-image: url("../../../images/icons/plus_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  padding: calc(12px + (22px / 2)) calc(62px + (22px / 2));
  border: solid 2px #fff;
  border-radius: 2px;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 400px) {
  .profile__add-button {
    width: 100%;
    margin-top: 0px;
  }
}
