.profile__add-icon {
  max-width: 22px;
  max-height: 22px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .profile__add-icon {
    max-width: 16px;
    max-height: 16px;
    margin-top: 0px;
  }
}
