.popup__close-button {
  position: absolute;
  top: -38px;
  right: -38px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  background-color: transparent;
  background-image: url("../../../images/icons/close_icon.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
  border: none;
  padding: 20px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 524px) {
  .popup__close-button {
    background-size: 20px 20px;
    top: -49px;
    right: 7px;
  }
}
