.card__title-area {
  background-color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 25px 15px 24px 21px;
  border-radius: 0 0 10px 10px;
}
